<!DOCTYPE html>
<html lang="es">
{% extends "menu.html" %}
<head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>EXITOSO</title>
</head>
<body>
    {% block content %}
    <h1 style="text-align: center;">PROCESO EXITOSO !!</h1>
    {% endblock %}  
    <script>
        Swal.fire({
            icon: 'success',
            title: '¡Exitoso!',
            text: ' Proceso Exitos al generar  PDF.'
        }).then(() => {
            // Redirige a la página de inicio después de cerrar el SweetAlert
            window.location.href = "/home";
        });
    </script>     
</body>
</html>