<!DOCTYPE html>
<html  lang="es">

<head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Informe</title>
</head>
<body>
    <!-- <img src="/static/images/Etiqueta.jpg"/> 
    <img src="https://drive.google.com/file/d/1oa_7z875UvELtgO9IJwLo3pP43piraoC/view?usp=drive_link">-->
    <br><br><br><br><br><br><br><br><br><br><br>
    <h3 style="text-align: center;">HISTORIA CLINICA</h3><hr><br>
    <pre>Fecha: {{ fecha }}       H.C.M: {{hcm}}</pre>
    <pre>Cedula: {{ cedula }}     Telefono: {{celular}}</pre>
    <pre>Nombre: {{ nombre }} {{apellido}}</pre>
    <pre>Edad: {{ edad }}         Procedencia: {{procedencia}}</pre>
    <h3 style="text-align: center;">MOTIVO DE CONSULTA Y ENFERMEDAD ACTUAL</h3><hr>
    <p style="text-align: justify;">
        MOTIVO CONSULTA: {{motivoConsulta}}  
    </p>
    <p style="text-align: justify;">
        ANTECEDENTES: {{antecedentes}}  
    </p>
    <p style="text-align: justify;">
        EXAMEN FISICO: {{examenFisico}}  
    </p>
    <p style="text-align: justify;">
        CX: {{cx}}  
    </p>
    <p style="text-align: justify;">
        DX: {{dx}}  
    </p>
    <br><br><br><br><br><br><br><br>
    <script>
        Swal.fire({
            icon: 'success',
            title: '¡Éxito!',
            text: 'El PDF se ha generado correctamente.'
        }).then(() => {
            // Redirige a la página de inicio después de cerrar el SweetAlert
            window.location.href = "/formularioH"; 
        });
    </script> 
</body>
</html>