<!DOCTYPE html>
{% extends 'menu.html' %}

{% block content %}
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Procesamiento de Informes</title>
    </head>
    <body>
        <div class="container-fluid h-100 bg-light text-dark">
            <div class="d-flex justify-content-center align-items-center container">
                <form class="border border-primary rounded p-3" action="/overlay" method="POST">
                    <div class="row mb-6">
                        <div class="text-align: center">
                            <h2 style="text-align: center;">Procesamiento de Informes PDF</h2>
                            <hr class="my-4 mx-auto">
                        </div>
                        <br>
                        <div class="col-md-2">
                            <label for="fecha" class="form-label">Fecha a Procesar</label>
                            <input class="form-control form-control-sm" 
                                type="date"  
                                id="fecha" name="fecha">
                        </div>
                        <br><br><br>
                        <div class="button">
                        <button type="submit" class="btn btn-success">Procesar PDF</button>
                        <button type="reset" class="btn btn-danger">Restablecer</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
{% endblock %}